<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}"></head>
<body>
    <div class="container-scroller">
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <div class="container-fluid page-body-wrapper">
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="container mt-5">
                            <h2>Add Book</h2>
                            <form th:action="@{/admin/books/save}" th:object="${book}" method="post">

                            <div class="mb-3">
                                    <label class="form-label">Book Name</label>
                                    <input type="text" th:field="*{bookName}" class="form-control" placeholder="Enter book name" required>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Genre</label>
                                    <input type="text" th:field="*{genre}" class="form-control" placeholder="Enter genre" required>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Total Copies</label>
                                    <input type="number" th:field="*{totalCopies}" class="form-control" placeholder="Enter total copies" required>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Available Copies</label>
                                    <input type="number" th:field="*{availableCopies}" class="form-control" placeholder="Enter available copies" required>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Author Name</label>
                                    <input type="text" th:field="*{authorName}" class="form-control" placeholder="Enter author name" required>
                                </div>



                                <button type="submit" class="btn btn-success">ADD</button>
                                <a th:href="@{/admin/books/list}" class="btn btn-secondary">Back</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="~{fragments/footer :: footer}"></div>
        </div>
    </div>
</div>
</body>
</html>

